[common]
; 支持直接写PHP中的已定义常量, Windows 平台需要注意目录分割符的问题
application.directory = APPLICATION_PATH "/application/"
; 是否使用默认的异常捕获Controller
application.dispatcher.catchException = true

; 数据库
resources.database.params.driver   = "pdo_mysql"
resources.database.params.hostname = "192.168.66.66"
resources.database.params.port     = 3306
resources.database.params.database = "youba"
resources.database.params.username = "youba"
resources.database.params.password = "youba"
resources.database.params.charset  = "UTF8"
resources.database.params.driver_options.1002 = "SET NAMES utf8"

; memache配置
memcache.params.caching = false
memcache.params.host = "192.168.66.66"
memcache.params.port = "11211"
memcache.params.timeout = 300
memcache.params.prefix = "www_youba_com"


[product : common]

[develop : product]